{% extends 'music/base.html' %}
{% block content %}
<div class="container">
    <h1 class="text-center mt-5">Welcome To Music App</h1>
    <p></p> <!--Under Construction-->
    <br></br>
    <div class="col text-center mt-5">
        <a class="btn btn-primary" href="albums/"><h4>Albums List</h4></a>
    </div>
    <div class="col text-center mt-5">
        <small>login to add your own album list</small><br>
        <small>name: test <br> password: 123</small>
    </div>
    <div class="col text-center mt-1">
        <a class="btn btn-primary" href="/admin/"><h4>Login</h4></a>
    </div>
</div>
{% endblock %}